# Environment
.env
*.env.local

# local docker compose file
docker-compose.override.yml

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
venv/
.venv/
env/

# Django
staticfiles/
media/
*.sqlite3

# Node / React
node_modules/
frontend/build/
npm-debug.log*

# Docker
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Certificates (managed by certbot volume, not git)
*.pem
*.key
*.crt
